<div class="modal fade" id="videoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detay</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"><span>&times;</span></button>
            </div>
            <div class="modal-body" id="#modalContent">
                <p><strong>Ad:</strong> {{ video.url }}</p> 
                <p><strong>Açıklama:</strong> {{ video.description }}</p>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-success" data-bs-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>